* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(180deg, #0f172a, #020617);
  color: #ffffff;
  min-height: 100vh;
}

/* الصفحة الرئيسية */
#home {
  width: 100%;
  min-height: 100vh;
  padding: 30px 20px;
}

.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

.site-name {
  font-size: 26px;
}

.hero {
  text-align: center;
  margin-bottom: 0;
}

.description {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 25px;
  line-height: 1.6;
}

#startBtn {
  background: #22c55e;
  color: #022c22;
  border: none;
  padding: 14px 40px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 90px;
}

#startBtn:hover {
  background: #16a34a;
}

.info-box {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-right, .info-left {
  width: 50%;
  font-size: 14px;
  color: #e5e7eb;
  line-height: 1.6;
}

/* شاشة تدوير الجوال */
#rotate {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

/* اللعبة والصور */
.game-step {
  width: 100%;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* أي مكان يمكن الضغط عليه */
.hotspot {
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
  background: rgba(255,255,255,0.0);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

/* السؤال النهائي */
.question-container {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
}

.question-container button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #22c55e;
  color: #022c22;
}

.question-container button:hover {
  background: #16a34a;
}

/* النقاط والحالة */
#score {
  font-size: 16px;
  margin-bottom: 8px;
}

#state {
  font-size: 18px;
  margin-bottom: 12px;
}
