* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
}

/* ===== الصفحة الرئيسية ===== */
#home {
  min-height: 100vh;
  padding: 30px 20px;
}

/* الحاوية الرئيسية */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, #0f172a, #020617);
}

/* الخلفية الشفافة للشعار */
.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15; /* شفافية */
  z-index: 1;
}

.logo-bg img {
  width: 250px; /* حجم كبير ليكون خلفية */
  height: auto;
}

/* النص والزر فوق الخلفية */
.overlay-text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #ffffff;
}

.site-name {
  font-size: 36px;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  margin-bottom: 25px;
  color: #cbd5e1;
}

/* زر البداية */
#startBtn {
  background: #22c55e;
  color: #022c22;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

#startBtn:hover {
  background: #16a34a;
}


/* ===== اللعبة ===== */
.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* الأعلى */
.top-bar {
  position: absolute;
  top: 10px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  font-size: 16px;
}

/* السؤال */
.question-box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(0,0,0,0.65);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.answers button {
  margin: 5px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: #22c55e;
  color: #022c22;
  font-size: 15px;
}
